.p-g {
  padding: 2rem;
}

.p-main-c {
  padding: 4rem 2rem;
}

.p-main-cy {
  padding: 4rem 0rem;
}

.my-md {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-md {
  margin-top: 2rem;
}

.mt-sm {
  margin-top: 1rem;
}
