$color-black: #000;
$color-white: #fff;
$color-gray-dark: #2c2c2c;
$color-gray-light: #464646;
$color-green: #0eda00;
$color-red: #da0047;
$color-yellow: #ffbb02;

$box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
$box-shadow-close: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
